@import '../../../styles/variables.css';

.alert {
  padding: 15px;
  color: white;
}

:global(#app) > div > nav + .alert {
  margin-top: -20px;
}

.warning {
  composes: alert;
  background-color: var(--color-warning);
}

.success {
  composes: alert;
  background-color: var(--color-success);
}

.info {
  composes: alert;
  background-color: var(--color-info);
}

.error {
  composes: alert;
  background-color: var(--color-danger);
}
